.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gradient-background {
  /*https://colorhunt.co/palette/fef3e2f3c623ffb22cfa812f*/
  background: linear-gradient(300deg, #fa812f, #f3c623, #fef3e2);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn-primary {
  background-color: #ffb22c;
  color: black;
  border-color: black;
}
